nodemcu0.9/__vm/Upload.vmps.xml
nodemcu0.9/__vm/Configuration.Debug.vmps.xml
nodemcu0.9/Debug/board.buildinfo
nodemcu0.9/Debug/core.a
nodemcu0.9/Debug/nodemcu0.9.bin
nodemcu0.9/Debug/nodemcu0.9.cpp.d
nodemcu0.9/Debug/nodemcu0.9.cpp.o
nodemcu0.9/Debug/nodemcu0.9.elf
nodemcu0.9/Debug/nodemcu0.9.ino.bin
nodemcu0.9/Debug/nodemcu0.9.ino.elf
nodemcu0.9/nodemcu0.9.vcxproj.filters
nodemcu0.9/__vm/.nodemcu0.9.vsarduino.h
nodemcu0.9/__vm/Compile.vmps.xml
nodemcu0.9/nodemcu0.9.vcxproj
nodemcu0.9/nodemcu0.9.v12.suo
nodemcu0.9/nodemcu0.9.sln